[Unit]
Description=Flex Store Logs
Wants=system.logDelete.service

[Service]
Type=simple
ExecStart=/var/system/scripts/logging/logMove.sh
WorkingDirectory=/tmp/log
