[Unit]
Description=Flex Store Logs
Wants=flexLogDelete.service flexLogShutdown.service

[Service]
Type=simple
ExecStart=/var/system/scripts/logging/logMove.sh
WorkingDirectory=/tmp/log
