[Unit]
Description=VNC Server für GUI Nutzer
After=gui.sway.service
Requires=gui.sway.service

[Service]
ExecStart=/usr/bin/wayvnc -r --config /home/gui/.config/wayvnc/config
WorkingDirectory=/home/gui/
Type=simple
StandardOutput=journal+append:/var/log/gui/vnc.log
StandardError=journal+append:/var/log/gui/vnc.log
TimeoutStopSec=10
Restart=always
RestartSec=30
# Slice=gui.slice

[Install]
WantedBy=default.target